#home {
  position: relative;
  background: url('../../assets/bgIMG.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0;

  // large device
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  // small
  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .app__header-greet {
    font-size: 20px;
    font-family: ui-sans-serif, system-ui;
  }

  .app__header-word {
    margin-top: 0.5rem;
    font-size: 48px;
    font-weight: 600;
    display: inline-block;
    width: fit-content;
    font-family: ui-sans-serif, system-ui;

    .app__word-letter {
      display: inline-block;
      transition: transform 0.2s;
      --tw-text-opacity: 1;
      color: rgb(26 142 156 / var(--tw-text-opacity));

      &:hover {
        transform: translateY(-10px);
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      font-size: 24px;
      .app__word-letter {
        font-size: 30px;
      }
    }
  }

  .app__gt-animation {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    --tw-text-opacity: 1;
    color: rgb(26 142 156 / var(--tw-text-opacity));

    .app__gt {
      font-size: 2rem;
      font-weight: 800;
    }

    .app__word-typeEffect {
      font-size: 18px;
      font-weight: 700;
      margin-left: 0.7rem;
      font-family: ui-sans-serif, system-ui;
    }

    .app__cursor {
      font-size: 1.5em;
      animation: blink 0.7s infinite;
      font-family: ui-sans-serif, system-ui;
    }

    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    

    .app__hire-button {
      --tw-text-opacity: 1;
      border: 2px solid rgb(26 142 156 / var(--tw-text-opacity));
      color: rgba(51,51,51,.71);
      font-weight: 400;
      font-family: ui-sans-serif, system-ui;
      font-size: 18px;
      padding: 0.5rem 1.2rem;
      cursor: pointer;
      background-color: transparent;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  // large device
  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(2) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(3) {
      width: 200px;
      height: 200px;
    }
  }

  // position
  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  .app__header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .overlay_circle {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
